<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>회원 가입</title>

</head>
<body>
<div class="wrap">
  <div class="join">
    <h2>jo-in</h2>

    <form method="post">
      <div class="user_id" >
        <h4>E-mail</h4>
        <input type="email" name="emailId" id="emailId" placeholder="아이디(email) 입력">
      </div>
      <div class="join">
        <h4>Password</h4>
        <input type="password" name="password" id="password" placeholder="Password 입력">
      </div>
      <div class="join">
        <h4>주민 번호</h4>
        <input type="text" name="SSN" id="SSN" placeholder="주민 번호 입력">
      </div>

      <div class="join">
        <h4>Name</h4>
        <input type="text" name="userName" id="userName" placeholder="이름 입력">
      </div>

      <p>
      <div class="forgot_pw">
        <a href="">Forgot Password?</a>
      </div>
      <p>

      <div class="submit">
        <input type="submit" value="submit">
      </div>

    </form>

  </div>

</div>

</body>
</html>