<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 가입</title>
</head>
<body>
<div class="wrap">
  <div class="join">
    <h2>Sign-up</h2>

    <form method="post" th:object="${userDto}">
      <div class="user_id" >
        <h4>E-mail</h4>
        <input type="text" th:field="*{username}" name="username" id="username" placeholder="아이디 입력">
      </div>
      <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError" style="color: red"></div>
      <div class="join">
        <h4>Password</h4>
        <input type="password" th:field="*{password}" name="password" id="password" placeholder="Password 입력">
      </div>
      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError" style="color: red"></div>
      <div class="join">
        <h4>주민 번호</h4>
        <input type="text" th:field="*{SSN}" name="SSN" id="SSN" placeholder="주민 번호 입력">
      </div>
      <div th:if="${#fields.hasErrors('SSN')}" th:errors="*{SSN}" class="fieldError" style="color: red"></div>

      <div class="join">
        <h4>Name</h4>
        <input type="text" th:field="*{name}" name="name" id="name" placeholder="이름 입력">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError" style="color: red"></div>
      </div>

      <div class="submit">
        <input type="submit" value="submit">
      </div>

    </form>

  </div>

</div>

</body>
</html>